@import "tailwindcss";

@theme {
    --color-medical-green: #10b981;
    /* emerald-500 */
    --color-medical-teal: #14b8a6;
    /* teal-500 */
    --color-medical-light: #f0fdf4;
    /* emerald-50 */
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-sans);
}